.stringTable {
  background-color: aqua;
}
.table {
  text-align: center;
  border-collapse: collapse;
  /* border-spacing: 5px; */
  background: pink;
  /* border-radius: 20px; */
  margin: 0 auto;
}

th {
  font-size: 22px;
  font-weight: 300;
  padding: 12px 10px;
  border-bottom: 2px solid red;
  color: green;
}
td {
  padding: 10px;
  color: purple;
}
