.statList{
    display: flex;
    justify-content: space-around
}
.statistics
{
    text-align: center;
}
.item
{
    width: 230px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}